<li>
	{{name}}

	<button class="devouring" data-id="{{id}}" data-edible="{{edible}}">
		{{#if edible}}Devour{{else}} Make It Again {{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>